.match-image {
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.custom-btn {
  background-color: transparent;
  border-width: 0;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .match-image {
    height: 80px;
    width: 80px;
  }
}
